body {
    margin: 0;
    background-color: lightskyblue;
}

#myHeader {
    font-size: 44pt;
    text-align: center;
}

.img1 {
    grid-area: img1;
    margin: auto;
}

.navi {
    grid-area: nav;
}

.img2 {
    grid-area: img2;
    margin: auto;
}

.img3 {
    grid-area: img3;
    margin: auto;
}

.img4 {
    grid-area: img4;
    margin: auto;
}

.header {
    grid-area: header;
    padding-top: 2em;
    margin: 1em;
}

.main2 {
    grid-area: main2;
    margin: 1em;
}

.main3 {
    grid-area: main3;
    margin: 1em;
}

.main1 {
    grid-area: main1;
    margin: 1em;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin: 1em;
}

.contact {
    margin-top: 5em;
	border: solid;
	border-color: black;
	padding: 1em;
    box-shadow: 2px 2px;
    background-color: rgb(97, 182, 235);
}


.grid-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
		'nav'
		'header'
		'img1'
		'main1'
		'img2'
		'main2'
        'img3'
        'main3'        
		'footer';
}

.resume-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
        'nav'
        'header'
        'img1'
        'main1'
        'footer'
}

.edu-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
        'nav'
        'header'
        'img1'
        'main1'
        'img2'
        'main2'
        'footer'
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li.nav {
    float: left;
    border-right-style: solid;
    border-color: white;
    border-right-width: 1px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
    color: white;
}
  
.active {
    /* background-color: #04AA6D; */
    background-color: rgb(97, 182, 235);
    color: black;
}

.copyright {
    font-size: 80%;
    color: darkblue;
}

a:link {
    color: darkblue;
}

a:hover {
    color: red;
}
  
a:active {
    color: yellow;
}