body {
    margin: 0;
    background-color: lightskyblue;
    text-align: center;
}

ul {
    text-align: left;
}

#myHeader {
    font-size: 44pt;
    text-align: center;
    margin-top: 2em;
    border: solid;
	border-color: black;
	padding: 1em;
    box-shadow: 2px 2px;
    background-color: rgb(97, 182, 235);
    margin-left: 10px;
    margin-right: 10px;
}

.myhead {
    grid-area: myhead;
    margin: auto;
}

.img1 {
    grid-area: img1;
    margin: auto;
}

.navi {
    grid-area: nav;
    margin: 0;
}

.img2 {
    grid-area: img2;
    margin: auto;
}

.img3 {
    grid-area: img3;
    margin: auto;
}

.img4 {
    grid-area: img4;
    margin: auto;
}

.img5 {
    grid-area: img5;
    margin: auto;
}

.img6 {
    grid-area: img6;
    margin: auto;
}

.header {
    grid-area: header;
    padding-top: 2em;
    margin: 1em;
}

.main2 {
    grid-area: main2;
    margin: 1em;
}

.main3 {
    grid-area: main3;
    margin: 1em;
}

.main1 {
    grid-area: main1;
    margin: 1em;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin: 1em;
}

.contact {
    margin-top: 5em;
	border: solid;
	border-color: black;
	padding: 1em;
    box-shadow: 2px 2px;
    background-color: rgb(97, 182, 235);
    margin-right: 1em;
    margin-left: 1em;
}


.grid-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
		'nav'
        'myhead'
		'header'
		'img1'
		'main1'
		'img2'
		'main2'
        'img3'
        'main3'        
		'footer';
}

.resume-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
        'nav'
        'header'
        'img1'
        'main1'
        'footer'
}

.edu-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
        'nav'
        'header'
        'img1'
        'main1'
        'img2'
        'main2'
        'footer'
}

.food-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
    row-gap: 2em;
	grid-template-areas: 
        'nav'
        'header'
        'img1'
        'img2'
        'img3'
        'img4'
        'main1'
        'img5'
        'main2'
        'img6'
        'main3'
        'footer'
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li.nav {
    float: left;
    border-right-style: solid;
    border-color: white;
    border-right-width: 1px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
    color: white;
}
  
.active {
    /* background-color: #04AA6D; */
    background-color: rgb(97, 182, 235);
    color: black;
}

.copyright {
    font-size: 80%;
    color: darkblue;
    text-align: right;
    margin: 10px;
}

figcaption {
    font-size: 75%;
    text-align: center;
}

@media screen and (max-width: 430px) {
    ul.nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
        position: static;
	}

	li.nav {
		float: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
	}
}


@media screen and (max-width: 620px) {
    
    img {
        height: auto;
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    
    .resume-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;
        grid-template-areas: 
            'nav nav'
            'header img1'
            'main1 main1'
            'footer footer';
        text-align: left;
    }

    img {
        margin-top: 3em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;
        grid-template-areas: 
            'nav nav'
            'myhead myhead'
            'header img1'
            'img2 main1'
            'main2 img3'
            'main3 main3'
            'footer footer';
        text-align: left;
    }

    .main1, .main2, .main3 {
        padding: 1.5em;
    }

    .header {
        padding: 1.5em;
        text-align: center;
    }

}

@media screen and (min-width: 1140px){
    .edu-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1em;
        grid-template-areas: 
            'nav nav'
            'header header'
            'main1 img1'
            'img2 main2'
            'footer footer';
        /* text-align: left; */
    }
}

@media screen and (min-width: 1000px){
    .food-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1em;
        grid-template-areas: 
            'nav nav'
            'header header'
            'img1 img2'
            'img3 img4'
            'img5 main1'
            'main2 img6'
            'main3 img6'
            'footer footer';
            text-align: left;
    }
}

@media screen and (max-width: 300px){
    * {
        display: none;
    }
}