body {
    margin: 0;
}

#myHeader {
    font-size: 44pt;
    text-align: center;
}

.img1 {
    grid-area: img1;
    margin: auto;
}

.navi {
    grid-area: nav;
}

.img2 {
    grid-area: img2;
    margin: auto;
}

.img3 {
    grid-area: img3;
    margin: auto;
}

.img4 {
    grid-area: img4;
    margin: auto;
}

.header {
    grid-area: header;
    padding-top: 2em;
    margin: 1em;
}

.main2 {
    grid-area: main2;
    margin: 1em;
}

.main3 {
    grid-area: main3;
    margin: 1em;
}

.main1 {
    grid-area: main1;
    margin: 1em;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin: 1em;
}

.contact {
    margin-top: 5em;
	border: solid;
	border-color: black;
	padding: 1em;
    box-shadow: 2px 2px;
}

.grid-container {
    display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	grid-template-areas: 
		'nav'
		'header'
		'img1'
		'main1'
		'img2'
		'main2'
        'img3'
        'main3'        
		'footer';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li.nav {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

